


<div class="layout">

    <div class="colorletras">
        <h1>Hola {{nombreUsuario}}</h1>

    </div>

<section class="py-7 text-center container">
    <div class="row py-lg-5  ">
      <div class="col-lg-6 col-md-8 mx-auto">

        <div class="column">
            <div class="card mb-3 color colorletras" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4 mx-auto mt-3">
                    <img src="assets/img/yo.jpg" class="img-fluid rounded-circle shadow-4-strong circulo border border-warning border-5" alt="Responsive image"  >
                </div>
                <div class="col-md-9 mx-auto ">
                    <div class="card-body colorletras">
                        <h5 class="card-title ">Felipe Guzman</h5>
                        <p class="card-text ">Ing.Sistemas Computacionales</p>
                        <p class="card-text "><strong>Sobre Mi</strong> </p>
                        <p class="card-text ">Hola, soy Felipe Guzman recien egresado de la carrera de Ing.Sistemas Computacionales, en espera de titulo profesional. Esta es mi web personal donde podras ver informacion sobre portafolio.</p>
                    </div>
                </div>
                </div>
            </div>
    
        </div>
        
      </div>
    </div>
  </section>


  <!-- SKILLS -->

  
       

            <section class="py-1 text-center container ">
                <div class="row py-lg-5 colorletras ">
                <div class="col-lg-6 col-md-8 mx-auto ">
                    <h1 class="fw-light ">Portafolio</h1>
                    
                </div>
                </div>
            </section>

            <div class="py-3 text-star container colorletras ">
                <h2 class="fw-light ">Angular | Bootstrap | .Net Core | Sql Server | Mysql </h2> 

            </div>


  <!-- cards skilla -->

  <div class="row row-cols-1 row-cols-md-3 g-4 px-2">

    <div class="col">
        <div class="card">

            <div class="card text-bg-dark row-cols-1 " style="max-width: 100%;">
                <div class="card-header">Angular</div>
                <div class="card-body ">
                 <img src="assets/img/FrontEnd.png" class="card-img-top" alt="...">
                 
                  <h5 class="card-title">Sistema de Cuestionarios</h5>
                  <p class="card-text">Proyecto desarrollado con Angular, el maquetado con Bootstrap,el backEnd con .Netcore y Mysql</p>
                </div>
              </div>

        </div>
    </div>

    <div class="col">
        <div class="card">

            <div class="card text-bg-dark row-cols-1" style="max-width: 100%;">
                <div class="card-header">Angular</div>
                <div class="card-body">
                    <img src="assets/img/Listado.png" class="card-img-top" alt="...">
                  <h5 class="card-title">Crud de Mascotas</h5>
                  <p class="card-text">Proyecto desarrollado con Angular se creo un Crud de mascotas, el maquetado con angular material, el backEnd con .Netcore y SQLserver</p>
                </div>
              </div>

        </div>
    </div>

    <div class="col">
        <div class="card">

            <div class="card text-bg-dark row-cols-1" style="max-width: 100%;">
                <div class="card-header">Angular</div>
                <div class="card-body">
                    <img src="assets/img/noticias.png" class="card-img-top" alt="...">
                  <h5 class="card-title">Noticias por Pais y Categoria</h5>
                  <p class="card-text">Proyecto desarrollado con Angular, se creo un Buscador de Noticias por Pais y Categoria, el maquetado con Bootswatch themes </p>
                </div>
              </div>

        </div>
    </div>

  </div>

 


</div>

