<div class="container">
    <div class="row">
        <div class="card text-center">
            <h3>Registrarse</h3>

            <app-loading *ngIf="loading"></app-loading>

            <div class="card text-center mb-3" style="width: 40rem;">
                <div class="card-body">
                  <h5 class="card-title">Registrar</h5>
                 
                  <form [formGroup]="register" (ngSubmit)="registrarUsuario()">

                    <div class="form-group span"> 
                        <input class="form-control form-control-lg" placeholder="Usuario" formControlName="usuario" >  
                        <span class="text-danger ms-1"
                        *ngIf="register.get('usuario')?.hasError('required') &&  register.get('usuario')?.touched">
                          El usuario <strong> es requerido</strong>
                        </span> 
                      </div>

                      <div class="form-group mt-3 span">
                        <input type="password" class="form-control form-control-lg" placeholder="Contraseña" formControlName="password">
                        <span class="text-danger ms-1"
                        *ngIf="register.get('password')?.hasError('required') &&  register.get('password')?.touched">
                          La contraseña <strong> es requerida</strong>
                        </span> 

                        <span class="text-danger ms-1 span"
                        *ngIf="register.get('password')?.hasError('minlength') &&  register.get('password')?.touched">
                          La contraseña requiere minimo <strong> 4 caracteres</strong>
                        </span> 
                      </div>

                      <div class="form-group mt-3 span">
                        <input type="password" class="form-control form-control-lg" placeholder="Repetir contraseña" formControlName="confirmPassword" >
                        <span class="text-danger ms-1 span"
                        *ngIf="register.hasError('notSame') ">
                          La contraseña<strong> es distinta</strong>
                        </span> 
                      </div>

                      <button  class="btn btn-warning  mt-3 me-2" type="submit"  [disabled]="register.invalid">Registrar</button>
                     
                      <button  class="btn btn-warning  mt-3 me-2" routerLink="/inicio/login" >Volver</button>

                 </form>  
                </div>
              </div>



        </div>
    </div>
</div>
